<p>Welcome! The date and time is <%=Time.now %></p>
<div class="container">
 <div class="row" id="responsive">
  <div class="col-md-4">
   <img src="/images/demo.jpg" alt="Demo"></img>
  </div>
 </div>
</div>