<!DOCTYPE html>
<html>
 <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
 </head>
 <body>
  <h1>Welcome to The Sweet Science!, <%= @user.name %></h1>
  <p> You have successfully signed up to our site,
      your username is: <%= @user.login %>.<br/></p>
  <p> To login to the site, just follow this link: <%= @url %>.</p>
  <p>Thanks for joining and we hope you enjoy our boxing memorabilia!</p>
 </body>
</html>