/* line 4, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
.container, h1 {
  text-align: center;
  color: #cc0000;
  font-family: futura, lucida, georgia, palatino, sans-serif;
  padding-bottom: 20px;
}

/* line 5, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
table {
  margin: 0 auto;
}

/* line 6, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
th {
  font-size: 2em;
  padding-bottom: 20px;
}

/* line 7, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
td {
  font-size: 1.5em;
  padding-right: 30px;
}

/* Border styles */
/* line 9, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
#products thead, #products tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #bda956;
}

/* line 10, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
#products {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bda956;
}

/* Padding and font style */
/* line 12, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
#products td, #products th {
  color: #333333;
}

/* Alternating background colors */
/* line 14, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
#products tr:nth-child(even) {
  background: #bda956;
}

/* line 15, c:/Sites/boxingapp/app/assets/stylesheets/products.css.scss */
#products tr:nth-child(odd) {
  background: #FFF;
}
