<h1>Your order details:</h1>

  <p>
    Product name: <%= @order.product.name %>
  </p>
  <p>
    Description: <%= @order.product.description %>
  </p>
  <p>
    Color: <%= @order.product.colour %>
  </p>
  <p>
    Price: <%= @order.product.price %>
  </p>