// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {  text-align: center; color: #cc0000; font-size: 3.5em; font-family: futura, lucida, georgia, palatino, sans-serif; padding-bottom: 20px;  }
table {  margin: 0 auto; }
th {  font-size: 2em; padding-bottom: 20px;  }
td {  font-size: 1.5em; padding-right: 30px; }