// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron h1, h3 {  text-align:center; color: #cc0000; font-family: futura, lucida, georgia, palatino, sans-serif; letter-spacing: 0.2em  }
img {  display:block; margin: 0 auto;  }
p {  text-align: center;  }
