<!DOCTYPE html>
<html>
<div class="jumbotron">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>The Sweet Science</title>
 <h1>The Sweet Science</h1>
 <h3>Your source for vintage boxing memorabilia</h3>
 </head>
</div>
<body>

<%= yield %>

</body>
</html>
